body
{
  background-color: #F6CECE;
  font-size: 16px;
}
li
{
  display: inline-block;
  font-size: 1.5em;
}
.general
{
  background-color: blue;
  margin: 1em;
  padding: 0.5em;
}
.general2
{
  background-color: #298A08;
  margin: 1em;
  padding: 0.5em;
}
.center
{
  text-align: center;
}
